<form action='replaced'>
  <div class = "form-group">
    <label for="sentence">Enter a Sentence:</label>
    <input name="sentence" id="sentence" type="text">
    <br>
    <label for="look_for">Enter a word to look for:</label>
    <input name="look_for" id="look_for" type="text">
    <label for="replace">Enter a replacement:</label>
    <input name="replace" id="replace" type="text">
  </div>
  <button class='btn btn-success' type="submit">Submit!</button>
</form>
